<div class="row" *ngIf="showCompiledPDF">
  <div class="col xl4 l12 m12 s12">
    <p *ngIf="!replacementKeys">No replacement keys found.</p>
    <p *ngIf="replacementKeys">Found replacement keys:</p>
    <ul class="collection">
      <li class="collection-item" *ngFor="let key of replacementKeys">{{key}}</li>
    </ul>
  </div>
  <div class="col xl8 l12 m12 s12">
    <app-pdf-display [safeUri]="safeURL"></app-pdf-display>
  </div>
</div>
<div>
  <div class="alert alert-danger" *ngIf="error">{{error}}</div>
  <app-template-select (templateSelected)="onTemplateChange($event)"></app-template-select>
  <div id="template-buttons">
    <button class="btn btn-raised btn-primary" *ngIf="currentDocName" (click)="onDeleteDoc()">Delete</button>
    <button class="btn btn-raised btn-primary" data-target="new-doc-dialog">Create New</button>
    <button class="btn btn-raised btn-primary pull-right" *ngIf="currentDocName"
            (click)="onCompilePDF()">Compile PDF</button><br>
  </div>

  <div class="modal" id="new-doc-dialog">
    <div class="modal-content">
      <label for="newName">Name des Templates</label>
      <input id="newName" type="text" class="form-control" [(ngModel)]="currentDocName">
      <a class="btn modal-close pull-left modal-action" (click)="onCreateDoc()">Create</a>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px" [hidden]="!currentDocName">
  <app-file-editor class="col m3"></app-file-editor>
  <app-text-editor class="col m9" ngDefaultControl></app-text-editor>
</div>
<button href="#" class="btn-floating waves-effect scroll-to-top"><i class="material-icons">arrow_upward</i></button>
