<div>
  <button class="btn btn-primary" style="margin-bottom: 5px" (click)="onSavePDF()">Update PDF</button><br>
  <div class="form-group">
    <label for="name">Name des Templates:</label>
    <input id="name" class="form-control" type="text" name="docName" [(ngModel)]="docName">
  </div>
  <button class="btn btn-primary" (click)="onLoadDoc()">Load</button>
  <button class="btn btn-primary" (click)="onDeleteDoc()">Delete</button>
  <button class="btn btn-primary" (click)="onCreateDoc()">Create</button>
  <button class="btn btn-primary" (click)="onSavePDF()">Save</button>
</div>
<div class="row" style="margin-top: 20px" *ngIf="currentDocName">
  <app-file-editor class="col-md-2" [docName]="currentDocName"></app-file-editor>
  <app-text-editor class="col-md-10" ngDefaultControl></app-text-editor>
</div>
