#file-manager-main-btns {
  margin-bottom: 10px;
}

#file-manager-file-btns {
  margin-top: 10px;
}

.file-manager-save-btn {
  margin-top: 5px;
}

.file-manager-dialog {
  margin-top: 10px;
}

#file-manager-info-box {
  margin-top: 10px;
}
