<div id="side-nav">
  <ul id="slide-out" class="side-nav fixed">
    <li>
      <div id="side-nav-header">
      </div>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a [routerLink]="['/use']" routerLinkActive="active" onclick="$('side-nav-toggle').sideNav('hide')">
        <i class="material-icons">mode_edit</i> Use Template
      </a>
    </li>
    <li>
      <a [routerLink]="['/edit']" routerLinkActive="active" onclick="$('side-nav-toggle').sideNav('hide')">
        <i class="material-icons">code</i> Edit Templates
      </a>
    </li>
    <li>
      <a [routerLink]="['/help']" routerLinkActive="active" onclick="$('side-nav-toggle').sideNav('hide')">
        <i class="material-icons">help_outline</i> Help
      </a>
    </li>
    <li id="side-nav-footer">
      <p>Built by <a href="https://www.larsgroeber.com" id="author-link">Lars Gröber</a></p>
    </li>
  </ul>
</div>
<div class="main">
  <nav>
    <div class="nav-wrapper">
      <a href="#" id="side-nav-toggle" data-activates="slide-out" class="button-collapse"><i
        class="material-icons">menu</i></a>
      <a href="#" class="brand-logo">PDFCreator
        <a href="https://github.com/Larsg7/pdfcreator"><button class="btn-floating red" id="alpha-plug">&alpha;</button></a></a>
      <ul class="right">
        <li><a [routerLink]="['/about']" href="collapsible.html">About</a></li>
      </ul>
    </div>
  </nav>
  <div id="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
