<div *ngIf="files">
  <div id="file-manager-main-btns">
    <button class="btn waves-effect btn-primary" (click)="onSaveFiles()"><i class="material-icons">save</i></button>
    <button class="btn waves-effect red" *ngIf="selectedFile && selectedFile.name"
            data-target="delete-file-dialog"><i class="material-icons">delete</i></button>
  </div>
  <ul class="collection">
    <li class="collection-item" *ngFor="let file of files"
        [style.background-color]="(file === selectedFile) ? '#F8AC00' : ''" (click)="onFileClick(file)">{{file.name}}
    </li>
  </ul>
  <div>
    <div class="fixed-action-btn horizontal">
      <a href="#new-file-dialog" class="btn-floating waves-effect btn-large red">
        <i class="material-icons">add</i>
      </a>
      <ul>
        <li>
          <a href="#upload-file-dialog" class="btn-floating waves-effect blue">
            <i class="material-icons">file_upload</i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- MODALS -->
  <div class="modal" id="delete-file-dialog">
    <div class="modal-content">
      Are you sure you want to delete the file {{selectedFile.name}}?
    </div>
    <div class="modal-footer">
      <button class="btn-flat modal-close left modal-action" (click)="deleteFile()">Yes</button>
      <button class="btn-flat left modal-close modal-action">No</button>
    </div>
  </div>

  <div class="modal" id="new-file-dialog">
    <div class="modal-content">
      <p>Add an empty file to this template:</p>
      <div class="input-field">
        <input id="new-file-name" [(ngModel)]="fileName" type="text" name="fileName">
        <label for="new-file-name">New file</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn-flat left modal-close" (click)="onNewFileSave()">Save</button>
    </div>
  </div>

  <div class="modal" id="upload-file-dialog">
    <div class="modal-content">
      Upload a new file:
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" ng2FileSelect [uploader]="uploader">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn-flat left modal-close" (click)="onFileUpload()">Save</button>
    </div>
  </div>
</div>
