<div class="row" *ngIf="showCompiledPDF">
  <div class="col xl4 l12 m12 s12">
    <app-replacement-key-list [replacementKeys]="replacementKeys"></app-replacement-key-list>
  </div>
  <div class="col xl8 l12 m12 s12">
    <app-pdf-display [safeUri]="safeURL"></app-pdf-display>
  </div>
</div>

<div id="template-buttons">
  <button class="btn btn-raised btn-primary btn-space" (click)="showMoreOptions = !showMoreOptions" *ngIf="template">
    <i class="material-icons">more_horiz</i>
  </button>
  <button class="btn btn-raised btn-primary btn-space" *ngIf="template"
          (click)="onCompilePDF()">
    Compile PDF
  </button>
</div>

<div id="template-options" *ngIf="template" class="card" [hidden]="!showMoreOptions">
  <div class="card-content">
    <div class="input-field">
      <textarea id="description" [(ngModel)]="template.desc" (keyup)="onTemplateInfoChange()"
                  class="materialize-textarea"></textarea>
      <label for="description">Description:</label>
    </div>
    <div class="switch">
      <label class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Controls if the template can be used.">
        Active
        <input (change)="onTemplateInfoChange()" [(ngModel)]="template.active" type="checkbox">
        <span class="lever"></span>
      </label>
      <button class="btn btn-raised red right" data-target="delete-doc-dialog">Delete</button>
    </div>
  </div>
</div>

<app-latex-editor *ngIf="template"></app-latex-editor>

<!-- MODALS -->
<div class="modal" id="delete-doc-dialog" *ngIf="template">
  <div class="modal-content">
    <p class="dialog-header">Are you sure you want to delete the template {{template.name}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn-flat modal-close left modal-action" (click)="onDelete()">Yes</button>
    <button class="btn-flat left modal-close modal-action">No</button>
  </div>
</div>
