<div class="row">
    <div class="col-md-6">
        <form *ngIf="keys">
            <div class="form-group" *ngFor="let key of keys">
                <label for="{{key.name}}">{{key.name}}</label>
                <input id="{{key.name}}" name="{{key.name}}" type="text"
                       class="form-control" placeholder="{{key.name}}"
                       [(ngModel)]="key.value">
            </div>

            <button class="btn btn-primary" (click)="downloadPDF()">Download</button>
            <button class="btn btn-primary pull-right" (click)="onUpdateInput()">Update</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9" *ngIf="uri">
            <iframe class="embed-responsive-item" scrolling="yes" [src]="safeUri"></iframe>
        </div>
    </div>
</div>

<hr>

<div class="" style="margin-top: 20px">
    <div class="">
        <button class="btn btn-primary" (click)="onUpdatePDF()">Update PDF</button>
    </div>
    <div>
        <textarea name="editor1" id="editor1" rows="10" cols="80">
            <h1 style="text-align:center"><span style="font-family:Georgia,serif"><span style="color:#006699">Recognition of Achievement</span></span></h1>
<&Name&> <& Workshop &>
<p style="text-align:justify">Lorem ipsum dolor sit amet,&nbsp;consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse; width:100%" summary="Project Schedule">
	<thead>
		<tr>
			<th scope="col" style="background-color:#cccccc"><span style="font-family:Georgia,serif">Project Phase</span></th>
			<th scope="col" style="background-color:#cccccc"><span style="font-family:Georgia,serif">Deadline</span></th>
			<th scope="col" style="background-color:#cccccc"><span style="font-family:Georgia,serif">Status</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span style="font-family:Georgia,serif">Phase 1: Market research</span></td>
			<td style="text-align:center"><span style="font-family:Georgia,serif">2016-10-15</span></td>
			<td style="text-align:center"><span style="font-family:Georgia,serif"><span style="color:#19b159">✓</span></span></td>
		</tr>
		<tr>
			<td style="background-color:#eeeeee"><span style="font-family:Georgia,serif">Phase 2: Editor implementation</span></td>
			<td style="background-color:#eeeeee; text-align:center"><span style="font-family:Georgia,serif">2016-10-20</span></td>
			<td style="background-color:#eeeeee; text-align:center"><span style="font-family:Georgia,serif"><span style="color:#19b159">✓</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:Georgia,serif">Phase 3: Rollout to Production</span></td>
			<td style="text-align:center"><span style="font-family:Georgia,serif">2016-10-22</span></td>
			<td style="text-align:center"><span style="font-family:Georgia,serif"><span style="color:#19b159">✓</span></span></td>
		</tr>
	</tbody>
</table>

<p style="text-align:justify"><span style="font-family:Georgia,serif">The project that you participated in is of utmost importance to the future success of our platform. &nbsp;We are very proud to share that&nbsp;the&nbsp;CKEditor implementation was a huge success and brought congratulations from both the key Stakeholders and the Customers:</span></p>

<p style="text-align:justify"><span style="font-family:Georgia,serif">This letter recognizes that much of our success is directly attributable to your efforts.&nbsp;You deserve to be proud of your achievement. May your future efforts be equally successful and rewarding.</span></p>

<p style="text-align:justify"><span style="font-family:Georgia,serif">I am sure we will be seeing and hearing a great deal more about your accomplishments in the future. Keep up the good work!</span></p>

<p>&nbsp;</p>

<p><span style="font-family:Georgia,serif">Best regards,</span></p>

<p><span style="font-family:Georgia,serif"><em>The Management</em></span></p>
        </textarea>
    </div>
</div>
