<div class="row">
    <div class="col-md-6">
        <form *ngIf="keys && keys.length > 0">
            <div class="form-group" *ngFor="let key of keys">
                <label for="{{key.name}}">{{key.name}}</label>
                <input id="{{key.name}}" name="{{key.name}}" type="text"
                       class="form-control" placeholder="{{key.name}}"
                       [(ngModel)]="key.value">
            </div>

            <button class="btn btn-primary" (click)="downloadPDF()">Download</button>
            <button class="btn btn-primary pull-right" (click)="onUpdateInput()">Update</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9" *ngIf="safeUri">
            <iframe class="embed-responsive-item" scrolling="yes" [src]="safeUri"></iframe>
        </div>
    </div>
</div>
<div class="alert alert-danger" *ngIf="error">{{error}}</div>
<hr>

<div class="" style="margin-top: 20px">

    <app-text-editor (textChanged)="onUpdatePDF($event)"></app-text-editor>
</div>
