/* You can add global styles to this file, and also import other style files */
.header, .main, .footer {
  /* make room for side-nav */
  padding-left: 300px;
}

#side-nav-toggle {
  display: none;
}

@media only screen and (max-width : 992px) {
  .header, .main, .footer {
    padding-left: 0;
  }

  #side-nav-toggle {
    display: block;
  }
}

.btn-primary {
  background-color: #009688;
}

.btn-success {
  color: black;
  background-color: #ffeb3b;
}

.modal-footer {
  height: 10px;
}
