<div>
  <div id="file-manager-main-btns">
    <button class="btn waves-effect btn-primary" (click)="saveFiles()"><i class="material-icons">save</i></button>
    <button class="btn waves-effect red" *ngIf="selectedFile && selectedFile.name"
            (click)="deleteFile()"><i class="material-icons">delete</i></button>
  </div>
  <ul class="collection">
    <li class="collection-item" *ngFor="let file of files"
        [style.background-color]="(file === selectedFile) ? '#F8AC00' : ''" (click)="onFileClick(file)">{{file.name}}
    </li>
  </ul>
  <div>
    <div class="fixed-action-btn horizontal">
      <a href="#new-file-dialog" class="btn-floating waves-effect btn-large red">
        <i class="material-icons">add</i>
      </a>
      <ul>
        <li>
          <a href="#upload-file-dialog" class="btn-floating waves-effect blue">
            <i class="material-icons">file_upload</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal" id="new-file-dialog">
    <div class="modal-content">
      <div class="input-field">
        <input id="new-file-name" [(ngModel)]="fileName" name="fileName">
        <label for="new-file-name">New File:</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary pull-left modal-close" (click)="onNewFileSave()">Save</button>
    </div>
  </div>
  <div class="modal" id="upload-file-dialog">
    <div class="modal-content">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary pull-left modal-close" (click)="onFileUpload()">Save</button>
    </div>
  </div>
  <div class="alert {{infoClass}}" id="file-manager-info-box" *ngIf="info">{{info}}</div>
</div>
