<app-template-select [showOnlyActive]="true" (templateSelected)="onTemplateChange($event)"></app-template-select>
<div *ngIf="template">
  <div *ngIf="template.desc">
    <div class="card">
      <div class="card-content">
        <p>{{template.desc}}</p>
      </div>
    </div>
  </div>

  <div id="pdf-layout-btns">
    <button id="view-tab-btn" class="btn-flat btn-floating tooltipped"
            data-position="top" data-delay="50" data-tooltip="Toggle between column and tab view."
            [class.tab-toggled]="viewTabs" (click)="toggleViewTabs()"><i class="material-icons">
      tab</i></button>
  </div>

  <div id="pdf-view-tabs" [hidden]="!viewTabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" id="pdf-tabs">
          <li class="tab col s3"><a class="active" href="#pdf">PDF</a></li>
          <li class="tab col s3"><a href="#placeholders">Placeholders</a></li>
        </ul>
      </div>
      <div id="pdf" class="col s12">
        <app-pdf-display [safeUri]="safeUri"></app-pdf-display>
      </div>
      <div id="placeholders" class="col s12">
        <div *ngIf="templateName">
          <div *ngIf="replacements && replacements.length > 0">
            <p>Placeholders:</p>
            <div class="input-field" *ngFor="let key of replacements">
              <label for="{{key.name}}">{{key.name}}</label>
              <input id="{{key.name}}" name="{{key.name}}" type="text"
                     [(ngModel)]="key.value">
            </div>
          </div>
          <p *ngIf="! replacements || replacements.length == 0">No replacement keys found.</p>

          <a [href]="safeUri" download="{{templateName}}.pdf" class="btn btn-primary tooltipped" (click)="downloadPDF()"
             data-position="bottom" data-delay="50" data-tooltip="Download document"><i class="material-icons">file_download</i></a>
          <a class="btn btn-primary tooltipped" data-position="bottom" data-delay="50" data-tooltip="Generate series of documents"
             href="#fill-by-csv-modal"><i class="mdi mdi-file-multiple"></i></a>
          <button class="btn btn-primary right tooltipped" data-position="bottom" data-delay="50"
                  data-tooltip="Update document" (click)="onUpdateInput()"><i class="material-icons">refresh</i></button>
        </div>
      </div>
    </div>
  </div>

  <div id="pdf-view-single" [hidden]="viewTabs">
    <div class="row">
      <div class="col xl4 l12 m12 s12" style="margin-bottom: 10px">
        <div *ngIf="templateName">
          <div *ngIf="replacements && replacements.length > 0">
            <p>Placeholders:</p>
            <div class="input-field" *ngFor="let key of replacements">
              <label for="{{key.name}}">{{key.name}}</label>
              <input id="{{key.name}}" name="{{key.name}}" type="text"
                     [(ngModel)]="key.value">
            </div>
          </div>
          <p *ngIf="! replacements || replacements.length == 0">No replacement keys found.</p>

          <a [href]="safeUri" download="{{templateName}}.pdf" class="btn btn-primary tooltipped" (click)="downloadPDF()"
          data-position="bottom" data-delay="50" data-tooltip="Download document"><i class="material-icons">file_download</i></a>
          <a class="btn btn-primary tooltipped" data-position="bottom" data-delay="50" data-tooltip="Generate series of documents"
             href="#fill-by-csv-modal"><i class="mdi mdi-file-multiple"></i></a>
          <button class="btn btn-primary right tooltipped" data-position="bottom" data-delay="50"
                  data-tooltip="Update document" (click)="onUpdateInput()"><i class="material-icons">refresh</i></button>
        </div>
      </div>
      <div class="col xl8 l12 m12 s12">
        <app-pdf-display [safeUri]="safeUri"></app-pdf-display>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<div class="modal" id="fill-by-csv-modal">
  <div class="modal-content">
    <p class="dialog-header">Fill multiple templates:</p>
    <p>
      To generate a series of documents you need to generate (e.g. using excel of libreoffice calc)
      a csv file with the following properties:
    </p>
    <ul class="browser-default">
      <li>The first line represents the exact names of the input field.</li>
      <li>There has to be one column per input field of the template.</li>
      <li>Text has to be enclosed by "".</li>
    </ul>
    <p>Empty lines will be ignored, use comma separated values.</p>
    <p>Example:</p>
    <pre>
      "Name", "Graduation", "Date"
      "Name1", "Bachelor", "01.01.17"
      "Name2", "Master", "02.02.17"
    </pre>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" (change)="onCSVFileChange($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div *ngIf="csvFileJson">
      <table>
        <thead>
        <tr>
          <th *ngFor="let key of csvFileKeys">{{key}}</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let data of csvFileJson">
          <td *ngFor="let key2 of csvFileKeys">{{data[key2]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-flat modal-close left modal-action" (click)="onGetSeriesFile()">Generate</button>
  </div>
</div>
